
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 1.5em;
    margin: 0.4em 0 0.6;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}




/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/


/* Standard */

*, html { box-sizing: border-box; }

body {
    font-size: 16px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

a, a:hover {
    color: #0a5871;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 0.9em;
    margin: 0 0 0.4em;
}

p a {
    text-decoration: underline;
    font-weight: bold;
}

p a:hover {
    text-decoration: none;
}

h1 {
    font-size: 2em;
}



header, #site-header, section, footer, #site-footer {
	float: left;
	width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.full-width {
	float: left;
	width: 100%;
	margin-top: 2em;
}

.half-width {
	float: left;
	width: 48%;
	margin: 0 1%;
	margin-top: 2em;
}

.half-width.first {
/*	float: left;
	width: 50%;
	margin-left: 0;*/
	clear: left;
}




/* header */

header, #site-header {
	min-height: 665px;
}

a.header-logo {
	float: left;
	width: auto;
	margin: 4em 0 0 2em;
}

.navigation {
	float: right;
	width: 40%;
	text-align: right;
}

.banner.attractions {
	background-image: url(images/attractions.jpg);
	background-size: cover;
	background-position: center center;
}



/* Body */


.intro-text .container {
	border-bottom: 1px solid #000000;
	padding: 0 2em 1em;
}

h1 {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
}

h2 {
	font-size: 1.2em;
	margin-bottom: 0.2em;
}


/* Attractions */

#attractions_content img {
	max-width: 100%;
}

#attractions_content .full-width img {
	width: 100%;
	max-width: none;
}




/* footer */

footer, #site-footer {
	background: #000000;
	color: #ffffff;
	padding: 1em 3em;
	margin-top: 4em;
}
.site-info {
	float: left;
	width: 60%;
	font-size: 0.8em;
}

.site-info a {
	color: #ffffff;
	font-weight: 400;
}

.footer-logos {
	float: right;
	width: 40%;
	text-align: right;
}

.footer-logos img {
	margin-left: 1em;
	margin-top: 0.4em;
}




